---
layout: default
title: Home
description: Your central hub for high-quality Google Sheets templates. Find the perfect solution for project management, event planning, data tracking, and more to organize your life and work.
canonical_url: "https://templyfy.in/"
image: /images/templyfy.webp
---

<!-- Hero Section -->
<section class="bb-5 py-5">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="hero">
          <div class="hero-left">
            <h1 class="hero-title">The Future of Productivity</h1>
            <div class="hero-description">
              <p>
                <strong>Professional-grade</strong> Google Sheets templates
                designed to supercharge your
                <strong>productivity</strong>and<strong>organization</strong>.
              </p>
            </div>
            <div class="hero-btn">
              <a class="btn btn-primary cta-btn rounded-pill" href="#contact"
                >Get in touch</a
              >
              <a
                class="btn btn-secondary cta-btn rounded-pill"
                href="/templates"
              >
                <span class="circle-bg"
                  ><i class="ion ion-md-arrow-down button-arrow"></i
                ></span>
                See my works
              </a>
            </div>
          </div>

          <div class="hero-right">
            <div class="hero-image">
              <img
                class="image-responsive"
                alt="hero image"
                src="/images/hero.webp"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Templates Section -->
<section id="template-section" class="py-5">
  <div class="container">
    <div class="section__info">
      <div class="section__head">
        <h2 class="section__title">Recent Templates</h2>
        <a class="section__link" href="/templates"
          >View all <i class="fa-solid fa-arrow-right"></i
        ></a>
      </div>
      <div class="section__description">
        <p>
          Vonge blog features productivity, tips, inspiration and strategies for
          massive profits. Find out how to set up a successful blog or how to
          make yours even better!
        </p>
      </div>
    </div>
    {%include latest-templates.html%}
  </div>
</section>

<!-- Testimonials Section -->
<section id="testimonials-section" class="text-center">
  {%include testimonial.html%}
</section>

<!-- Latest News/Blog Section -->
<section id="news-section" class="container">
  <div class="section__info">
    <div class="section__head">
      <h2 class="section__title">Recent Posts</h2>
      <a class="section__link" href="/blog"
        >View all <i class="fa-solid fa-arrow-right"></i
      ></a>
    </div>
    <div class="section__description">
      <p>
        Vonge blog features productivity, tips, inspiration and strategies for
        massive profits. Find out how to set up a successful blog or how to make
        yours even better!
      </p>
    </div>
  </div>
  {%include latest-blogs.html%}
</section>

<!-- Call to Action Section -->
<section id="cta-section" class="container">{% include cta.html %}</section>
